[submodule "libsignal-protocol-c"]
	path = libsignal-protocol-c
	url = https://github.com/WhisperSystems/libsignal-protocol-c
[submodule "libqrencode"]
	path = libqrencode
	url = https://github.com/fukuchi/libqrencode
[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/warmcat/libwebsockets
	branch = v2.2-stable
[submodule "NuDb"]
	path = NuDb
	url = https://github.com/vinniefalco/NuDB.git
